.home-container {
  margin: 100px auto 0 auto;
  max-width: 1200px;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.6)),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuC2mvuJpLLY-qXOce06r2Ur_RjZqJfGY1r0EcAfXyST2zHpZyDaQNviS40j-XkmgssoBuvHGcGgHCzc1s406fxSjDp75HIKmD0CC2FtzUbEbfDTkBFr_o4pbWRDruOh13kxec4z5MV6_dgR6N9IqT33m39Pv18bcGIMQ_UlDfpxFZFpF9FCRlaZg1VnFN76dtuYMNCTe9p5oDQz7Gchf6QT24AUbrG2J-chtM--fCyW6IRyQeeBONBBdi8vNmbQ7993_X-3hwhAeV0");
  background-size: cover;
  background-position: center;
  min-height: 520px;
  display: flex;
  align-items: center;
  padding: 80px 20px;
  border-radius: 15px;
  color: white;
}

.hero-section .hero-content {
  max-width: 600px;
}

/* BIENVENIDA */
.bienvenida-section {
  padding: 60px 20px;
}

.bienvenida-titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #000;
}

.separador {
  width: 16rem;
  height: 4px;
  background-color: #0d6efd;
  border-radius: 2px;
}

.bienvenida-texto {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.8;
  max-width: 750px;
  margin: auto;
}

/* TARJETAS */
.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.bg-gradient {
  background: linear-gradient(180deg, #f8fbff 0%, #eaf3ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  margin: auto;
}

.boton-reserva {
  background-color: var(--primary-color);
  /* Variable dinámica */
}